/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-dark bg-gradient-to-r from-primary via-secondary to-accent;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Definición de la animación del gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* El resto de tus estilos globales (si los tienes)... */
.chart-container {
  @apply relative w-full max-w-3xl mx-auto h-72 max-h-[40vh];
}
@media (min-width: 768px) {
  .chart-container {
    @apply h-96;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}